version: "3.9"

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "8080:8080"
    volumes:
      - ollama:/root/.ollama
    restart: unless-stopped

  paper-mate:
    build: .
    environment:
      - OLLAMA_BASE_URL=http://ollama:8080
    depends_on:
      - ollama
    volumes:
      - .:/app
    command: python src/main.py
    ports:
      - "8000:8000"

volumes:
  ollama:
